/*Changing how padding is calculated. Makes these easier when settings things up*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*CUSTOM PROPERTIES */
/*font family, font weights, colour, font sizes*/
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

/*Changes font sizes depending on screen size. Only to have to redefine sizes here */
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/*General Styles*/
body {
    background: var(--clr-light);
}