/*Changing how padding is calculated. Makes these easier when settings things up*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*CUSTOM PROPERTIES */
/*font family, font weights, colour, font sizes*/
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
    	0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/*Changes font sizes depending on screen size. Only to have to redefine sizes here */
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/*General Styles*/
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
	display: block; /*issue with img*/
	max-width: 100%; /*dont overflow from their parents*/
}

section {
    padding: 5em 2em;
}

strong {
	font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn {
	display: inline-block;
	padding:.5em 2.5em;
	background: var(--clr-accent);
	text-decoration: none;
	cursor:pointer;
	font-size: .9rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
	transition: transform 200ms ease-in-out;
}

.btn:hover {
	transform: scale(1.1);
}

/*Typography*/
h1,
h2,
h3 {
	line-height: 1;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

.section__title{
	margin-bottom: .25em;
}

.section__title--intro {
	font-weight: var(--fw-reg);
}

.section__title--intro strong {
	display:block; /*always ends up on its own line*/
}

.section__subtitle {
	margin:0;
	font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
	background: var(--clr-accent);
	padding:.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/*header*/
nav { display: none; }


/*Intro section*/
.intro {
	position:relative;
}

.intro__img {
	box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

/*resizing/layout*/
@media (min-width: 600px) {
	.intro {
		display:grid;
		width: min-content; /*the section will match the content inside of it*/
		margin:0 auto; /*will keep the content centred when resizing */
		grid-column-gap: 1em; 
		grid-template-areas: 
			"img title"
			"img subtitle";
		grid-template-columns: min-content max-content; /*shrink img as much as possible, max text*/
	}

	.intro__img {
		grid-area: img;
		min-width: 250px;
		position:relative;
		z-index: 2;
	}

	.section__subtitle--intro {
		align-self: start; /*stop stretching*/
		grid-column: -1/1; /*will stretch across the div, by default it will go below all of the elements; no overlaps*/
		grid-row: 2;
		text-align: right;
		position:relative; /*will make the bar go the entire width*/
		left:-1.5em;
		width: calc(100% + 1.5em); /*aligns the intro and the title*/
	}
}


/*services*/
.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/whatdo.png);
    background-size:cover; /*never repeats*/
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: ''; /*pseudo element*/
    display:block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light); /*currentColor*/
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
	max-width: 500px;
	margin:0 auto;
}

/*bigger screes = columns*/
@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;

    }

    /*space between services*/
    .service + .service {
        margin-left: 2em;
    }
}


/*about me*/

.about-me {
	max-width: 1000px;
}

